body{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    background-color: rgb(227, 216, 216);
    color: wheat;
    width: 100%;
    box-shadow: 6px 6px 5px rgb(205, 195, 195);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar-links-show {
    display: block;
}

@media (min-width: 768px) {
    .navbar-links {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }
}

.navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar-logo a img {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 5px 6px 5px gray;
    padding: 5px;
    margin-left: 100px;
}

.navbar-toggle {
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
    color: wheat;
}

.navbar-links li a {
    font-size: 16px;
    text-decoration: none;
    color: wheat;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
    }

    .navbar-toggle.active span:nth-child(2) {
        transform: rotate(45deg);
    }

    .navbar-toggle.active span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .navbar-toggle.active span:nth-child(1),
    .navbar-toggle.active span:nth-child(3) {
        margin: 0;
    }

    .navbar-toggle.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    width: 400px;
    margin: 50px auto;
    margin-top: 120px;
}


form a{
    text-decoration: none;
    margin: 5px;
}
form .form-text {
    color: red;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}