<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="assets/Logos/images.png" alt=""></a>
    </div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
        <span></span>
        <span></span>
        <span></span>

    </div>

    <!-- <div class="navbar-links" [ngClass]="{'navbar-links-show': isNavbarOpen}">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
        </ul>
        
    </div> -->
    <div class="user-icon" (click)="actionOn()">
        <a [routerLink]="['/userprofile']"><img src="assets/Logos/Getinet Alemu.jpg" alt=""></a>
        <div class="action" *ngIf="this.action">
            <a [routerLink]="['/login']">Logout</a>
            <a [routerLink]="['/userprofile']">Profile</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="left-sidebar" *ngIf="!this.edit_profile">
        <div class="user-photo">
            <a [routerLink]="['/userprofile']"><img src="assets/Logos/Getinet Alemu.jpg" alt=""></a>
        </div>
        <h2>Getinet Alemu Mijena</h2>
        <h3>Getinet Alemu Mijena</h3>
        <p>
            My name is Getinet Alemu and my country is Ethiopia.
            I was born in 1998 from my father alemu Mijena and my
            mother Shibire tadese. Now am student at haramaya.
        </p>
        <button (click)="editProfile()">Edit Profile</button>
        <!-- <h4><img src="assets/Images/download.png" alt=""> Haramaya University</h4> -->
    </div>

    <div class="left-sidebar" *ngIf="this.edit_profile">
        <form action="">
            <div class="user-photo">
                <a [routerLink]="['/userprofile']"><img src="assets/Logos/Getinet Alemu.jpg" alt=""></a>
            </div>
            <div class="form-group">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Update Yuor profile picture!
                </label>
                <input id="file-upload" type="file" name="file-upload" />
            </div>
            <div class="form-group">
                <label>User Name</label>
                <input type="text" placeholder="User Name">
            </div>
            <div class="form-group">
                <label>Bio</label>
                <textarea name="" id="" cols="30" rows="10" placeholder="Bio"></textarea>
            </div>
            <button>Save</button>
            <button class="btn-danger">Cancel</button>
        </form>
    </div>

    <div class="main-content">
        <div class="user-status">
            <ul>
                <li><a href=""><img src="assets/Images/personalInfo.png" alt="">Personal Information </a></li>
                <li><a href=""><img src="assets/Images/orderHistory.png" alt="">Order History</a></li>
                <li><a href=""><img src="assets/Images/salesPerformance.png" alt="">Sales performance</a></li>
                <li><a href=""><img src="assets/Images/ordermanagement.png" alt="">Order management</a></li>
                <li><a href=""><img src="assets/Images/analytics.png" alt="">Analytics</a></li>
                <li><a href=""><img src="assets/Images/products.png" alt="">Products</a></li>
                <li><a href=""><img src="assets/Images/storeinformation.png" alt="">Store information</a></li>
                <li><a href=""><img src="assets/Images/account.png" alt="">Account settings</a></li>
            </ul>
        </div>
        <form action="">
            <div class="form-group">
                <label for="">First Name</label>
                <h1>Getinet</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input">
                <!-- <button *ngIf="this.saveButton">Save</button> -->
            </div>
            <div class="form-group">
                <label for="">First Name</label>
                <h1>Getinet</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input">
                <!-- <button *ngIf="this.saveButton">Save</button> -->
            </div>
            <div class="form-group">
                <label for="">First Name</label>
                <h1>Getinet</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input">
                <!-- <button *ngIf="this.saveButton">Save</button> -->
            </div>
            <div class="form-group">
                <label for="">First Name</label>
                <h1>Getinet</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input">
                <!-- <button *ngIf="this.saveButton">Save</button> -->
            </div>
            <div class="form-group">
                <label for="">First Name</label>
                <h1>Getinet</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input">
                <!-- <button *ngIf="this.saveButton">Save</button> -->
            </div>
            <div class="form-group">
                <label for="">First Name</label>
                <h1>Getinet</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input">
                <!-- <button *ngIf="this.saveButton">Save</button> -->
            </div>
            <div class="form-group">
                <label for="">First Name</label>
                <h1>Getinet</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input">
                <button *ngIf="this.saveButton">Save</button>
                <button *ngIf="this.saveButton">Cancel</button>
                <button (click)="updateInfo()" *ngIf="!this.edit_Input">Edit</button>
            </div>
        </form>
    </div>
</div>