body{
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(227, 216, 216);
    color: wheat;
    width: 100%;
    box-shadow: 6px 6px 5px rgb(205, 195, 195);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* margin-bottom: 150px; */
}

.navbar .user-icon {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-right: 15px;
}

.navbar .user-icon a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar .user-icon .action {
    background-color: rgb(222, 229, 234);
    height: 200px;
    color: wheat;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .user-icon .action a {
    text-decoration: none;
    color: black;
    padding: 15%;
}

.navbar-links {
    display: none;
}

.navbar-links-show {
    display: block;
}

@media (min-width: 768px) {
    .navbar-links {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }
}

.navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar-logo a img {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 5px 6px 6px gray;
    padding: 5px;
    margin-left: 70px;
}

.navbar-toggle {
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
    color: rgb(68, 3, 247);
}

.navbar-links li a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(68, 3, 247);
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
    }

    .navbar-toggle.active span:nth-child(2) {
        transform: rotate(45deg);
    }

    .navbar-toggle.active span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .navbar-toggle.active span:nth-child(1),
    .navbar-toggle.active span:nth-child(3) {
        margin: 0;
    }

    .navbar-toggle.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
}

.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 25% 1fr 25% ;
    grid-template-areas: "left main right";
    margin-top: 85px;
    background-color: #f2f2f2;
}

.container .hidden {
    display: none;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.container .left-sidebar {
    grid-area: left;
    background-color: #f2f2f2;
    margin: 2px;
    border-radius: 12px;
    box-shadow: 6px 6px 5px 10px wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .container .left-sidebar {
       width: 100%;
    }
}

.container .left-sidebar form .form-group label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    font-style: normal;
}

.container .left-sidebar form .form-group input {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 400;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: 1s;
}

.container .left-sidebar form .form-group input:hover {
    border: 2px solid green;
}

@media (max-width: 768px) {
    .container .left-sidebar form .form-group input {
        padding: 5px;
        font-size: small;
        font-weight: 200;
        margin-bottom: 10px;
        border-radius: 7px;
    }
}
  
.container .left-sidebar form .form-group .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 5px;
    font-weight: bold;
    color: #1a0d0d;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
  }
  
  .container .left-sidebar form .form-group .custom-file-upload:hover {
    background-color: #e80edd;
    color: #f2f2f2;
  }
  
  .container .left-sidebar form .form-group #file-upload {
    display: none;
  }
  

.container .left-sidebar form .form-group textarea {
    border-radius: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
    transition: 1s;
}

.container .left-sidebar form .form-group textarea:hover {
    border: 2px solid green;
}



@media (max-width: 768px) {
    .container .left-sidebar form .form-group textarea {
        border-radius: 7px;
        font-size: small;
        font-weight: 200;
        padding: 2px;
    }
}

.container .left-sidebar .user-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
}

@media (max-width: 768px) {
    .container .left-sidebar .user-photo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}



.container .left-sidebar .user-photo a img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .container .left-sidebar .user-photo a img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.container .left-sidebar h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    font-style: normal;
}

.container .left-sidebar h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 200;
    font-style: normal;
    color: rgb(202, 187, 187);
}

.container .left-sidebar p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 200;
    font-style: normal;
    border: 1px solid #f2f2f2;
    padding: 20px;
    margin: 20px;
}

.container .left-sidebar button {
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    background-color: white;
    transition: 1.5s;
    margin-bottom: 5px;
}

.container .left-sidebar .btn-danger {
    background-color: red;
    color: white;
    margin: 3px;
}

@media (max-width: 768px) {
    .container .left-sidebar button {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        padding-top: 50px;
        border: none;
        border-radius: 12px;
    }
}

.container .left-sidebar button:hover {
    background-color: rgb(73, 96, 73);
}

.container .left-sidebar h4 img {
    width: 10%;
    height: 40%;
}

.container .right-sidebar{
    height: auto;
    border-radius: 12px;
    grid-area: right;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color:white;
}

.container .right-sidebar ul li{
    list-style: none;
    margin: 20px;
}
.container .right-sidebar ul li a{
    color:rgb(108, 108, 206);
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}

/* .container .right-sidebar ul li a:a {
    color: brown;
  }  */

@media (max-width: 768px) {
    .container .right-sidebar {
       width: 100%;
    }
}

.container .right-sidebar ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #e80edd;
}

.container .main-content {
    grid-area: main right;
    background-color: #f2f2f2;
    margin: 2px;
    border-radius: 12px;
}

.container .main-content .user-status {
    width: 100%;
    height: auto;
    border-bottom: 2px solid brown;
}

.container .main-content .user-status ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* @media (max-width: 768px) {
    .container .main-content .user-status ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
} */

.container .main-content .user-status ul li {
    list-style: none;
}

.container .main-content .user-status ul li a {
    text-decoration: none;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding: 10px;
}

.container .main-content .user-status ul li a img{
    width: 20px;
    height: 20px;
}
.container .main-content form .form-group{
    background-color: white;
    margin: 20px;
    box-shadow: 5px 6px 6px gray;
    border-radius: 12px;
    width: 95%;
    height: auto;
    transition: 1s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width: 768px) {
    .container .main-content form .form-group{
        display: block;
    }
}
.container .main-content form .form-group:hover{
    transform: scaleY(1.1);
}
.container .main-content form .form-group label{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    padding: 12px;
    margin: 12px;
    color: rgb(215, 126, 18);
}
.container .main-content form .form-group h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    padding: 12px;
    color: rgb(30, 5, 5);
}

.container .main-content form .form-group input{
   padding: 12px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: large;
   font-weight: 600;
   font-style: normal;
   margin: 12px;
   border-radius: 12px;
   transition: 1s;
}
.container .main-content form .form-group input:hover{
    border-radius: 2px solid lightgreen;
}
@media (max-width: 768px) {
    .container .main-content form .form-group input{
        padding: 6px;
        font-size: small;
        font-weight: 300;
        margin: 6px;
        border-radius: 7px;
    }
}
.container .main-content form .form-group button{
    margin: 12px;
    padding: 20px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.container .main-content form .form-group button:hover{
    background-color: #FFFFF7;
}
