

<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="assets/Logos/images.png" alt=""></a>
    </div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
            <span></span>
        <span></span>
        <span></span>
        
    </div>
    
    <!-- <div class="navbar-links" [ngClass]="{'navbar-links-show': isNavbarOpen}">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
        </ul>
        
    </div> -->
    <div class="user-icon"(click)="actionOn()">
        <a [routerLink]="['/userprofile']"><img src="assets/Logos/Getinet Alemu.jpg" alt=""></a>
        <div class="action"*ngIf="this.action">
         <a [routerLink]="['/login']">Logout</a>
         <a [routerLink]="['/userprofile']">Profile</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="left-sidebar">
        <div class="user-photo">
            <a [routerLink]="['/userprofile']"><img src="assets/Logos/Getinet Alemu.jpg" alt=""></a>
        </div>
        <h2>Getinet Alemu Mijena</h2>
        <h3>Getinet Alemu Mijena</h3>
        <p>
            My name is Getinet Alemu and my country is Ethiopia.
             I was born in 1998 from my father alemu Mijena and my
              mother Shibire tadese. Now am student at haramaya.
        </p>
       <button>Edit Profile</button>
       <h4><img src="assets/Images/download.png" alt=""> Haramaya University</h4>
    </div>
    <div class="main-content">

    </div>
</div>
