<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="assets/Logos/images.png" alt=""></a>
    </div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
        <span></span>
        <span></span>
        <span></span>

    </div>

    <div class="navbar-links" [ngClass]="{'navbar-links-show': isNavbarOpen}">
        <ul>
            <li><a href="/my-orders">My Orders</a></li>
            <li><a href="/my-wishlist">My Wishlist</a></li>
            <li><a href="/my-account">My Account</a></li>
            <li><a href="/my-reviews">My Reviews</a></li>
            <li><a href="/my-rewards">My Rewards</a></li>
            <li><a href="/my-notifications">My Notifications</a></li>
            <li><a href="/my-subscriptions">My Subscriptions</a></li>
            <li><a href="/my-support-tickets">My Support Tickets</a></li>
            <li><a href="/my-settings">My Settings</a></li>
            <li><a routerLink="['/login']" (click)=" logOut() ">Logout</a></li>
        </ul>


    </div>
    <div class="user-icon" (click)="rightSideBar()">
        <a [routerLink]="['/rprofile']"><img src="assets/Logos/Getinet Alemu.jpg" alt=""></a>
    </div>
</nav>

<div class="container">
    <div class="left-sidebar" (click)="notRightSideBar()" *ngIf="!this.edit_profile">
        <div class="user-photo">
            <a [routerLink]="['/userprofile']"><img src="assets/Logos/{{userDetail.ProfilrPicture}}" alt=""></a>
        </div>
        <h2 *ngIf="userDetail">{{userDetail.User_Name}}</h2>
        <h3 *ngIf="userDetail">{{userDetail.User_Name}}</h3>
        <p>
            {{userDetail.UserInfo}}
        </p>
        <button (click)="editProfile()">Edit Profile</button>
        <!-- <h4><img src="assets/Images/download.png" alt=""> Haramaya University</h4> -->
    </div>

    <div class="left-sidebar" (click)="notRightSideBar()" *ngIf="this.edit_profile">
        <form action="" [formGroup]="updateForm">
            <div class="user-photo">
                <a [routerLink]="['/userprofile']"><img src="assets/Logos/{{userDetail.ProfilrPicture}}" alt=""></a>
            </div>
            <div class="form-group">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fas fa-cloud-upload-alt"></i> Update Yuor profile picture!
                </label>
                <input id="file-upload" type="file" formControlName="fileUpload"
                        (change)="onFileSelected($event)" accept="image/*">
                <div class="form-text text-danger"
                    *ngIf="fileUpload.errors?.['required'] && (fileUpload.dirty || fileUpload.touched)">
                    *Profile picture is Required or It is a must!
                </div>
            </div>
            <div class="form-group">
                <label>Bio</label>
                <textarea formControlName="Bio" id="" cols="30" rows="10" placeholder="Bio"></textarea>
                <div class="form-text text-danger"
                    *ngIf="Bio.errors?.['required'] && (Bio.dirty || Bio.touched)">
                    *First name is Required or It is a must!
                </div>
                <div class="form-text text-danger"
                    *ngIf="Bio.errors?.['minlength'] && (Bio.dirty || Bio.touched)">
                    *The Minimum length is 200!
                </div>
                <div class="form-text text-danger"
                    *ngIf="Bio.errors?.['maxlength']  && (Bio.dirty || Bio.touched)">
                    *The Minimum length is 1000!
                </div>
            </div>
            <button (click)="updateProfile()">Save</button>
            <button class="btn-danger">Cancel</button>
        </form>
    </div>

    <div class="main-content" (click)=" notRightSideBar()">
        <div class="user-status">
            <ul>
                <li><a href=""><img src="assets/Images/personalInfo.png" alt="">Personal Information </a></li>
                <li><a href=""><img src="assets/Images/orderHistory.png" alt="">Order History</a></li>
                <li><a href=""><img src="assets/Images/salesPerformance.png" alt="">Sales performance</a></li>
                <li><a href=""><img src="assets/Images/ordermanagement.png" alt="">Order management</a></li>
                <li><a href=""><img src="assets/Images/analytics.png" alt="">Analytics</a></li>
                <li><a href=""><img src="assets/Images/products.png" alt="">Products</a></li>
                <li><a href=""><img src="assets/Images/storeinformation.png" alt="">Store information</a></li>
                <li><a href=""><img src="assets/Images/account.png" alt="">Account settings</a></li>
            </ul>
        </div>
        <form action="" [formGroup]="updateForm">
            <div class="form-group">
                <label for="">First Name</label>
                <h1>{{userDetail.First_Name}}</h1>
                <input type="text" placeholder="First Name" *ngIf="this.edit_Input" formControlName="firstname">
                <div class="form-text text-danger"
                    *ngIf="firstname.errors?.['required'] && (firstname.dirty || firstname.touched)">
                    *First name is Required or It is must!
                </div>
                <div class="form-text text-danger"
                    *ngIf="firstname.errors?.['minlength'] && (firstname.dirty || firstname.touched)">
                    *The Minimum length is 2!
                </div>
                <div class="form-text text-danger"
                    *ngIf="firstname.errors?.['pattern'] && (firstname.dirty || firstname.touched)">
                    *Name can only be Letters!
                </div>
                <div class="form-text text-danger"
                    *ngIf="firstname.errors?.['pattern'] && (firstname.dirty || firstname.touched)">
                    *Name can only be Letters!
                </div>

            </div>
            <div class="form-group">
                <label for="">Last Name</label>
                <h1>{{userDetail.Last_Name}}</h1>
                <input type="text" placeholder="Last Name" *ngIf="this.edit_Input" formControlName="lastname">
                <div class="form-text text-danger"
                    *ngIf="lastname.errors?.['required'] && (lastname.dirty || lastname.touched)">
                    *Last name is Required or is must!
                </div>
                <div class="form-text text-danger"
                    *ngIf="lastname.errors?.['minlength'] && (lastname.dirty || lastname.touched)">
                    *The Minimum length is 2!
                </div>
                <div class="form-text text-danger"
                    *ngIf="lastname.errors?.['pattern'] && (lastname.dirty || lastname.touched)">
                    *Name can only be Letters!
                </div>
                <div class="form-text text-danger"
                    *ngIf="lastname.errors?.['pattern'] && (lastname.dirty || lastname.touched)">
                    *Name can only be Letters!
                </div>
            </div>
            <div class="form-group">
                <label for="">User Name</label>
                <h1>{{userDetail.User_Name}}</h1>
                <input type="text" placeholder="User Name" *ngIf="this.edit_Input" formControlName="username">
                <div class="form-text text-danger"
                    *ngIf="username.errors?.['required'] && (username.dirty || username.touched)">
                    *User name is Required or is must!
                </div>
                <div class="form-text text-danger"
                    *ngIf="username.errors?.['minlength'] && (username.dirty || username.touched)">
                    *The Minimum length is 2!
                </div>
                <div class="form-text text-danger"
                    *ngIf="username.errors?.['pattern'] && (username.dirty || username.touched)">
                    *Name can only be Letters!
                </div>
                <div class="form-text text-danger"
                    *ngIf="username.errors?.['pattern'] && (username.dirty || username.touched)">
                    *Name can only be Letters!
                </div>
            </div>
            <div class="form-group">
                <label for="">Email Address</label>
                <h1>{{userDetail.Email_Address}}</h1>
                <input type="text" placeholder="Email Address" *ngIf="this.edit_Input" formControlName="email">
                <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.dirty || email.touched)">
                    *Email is Required or is must!
                </div>
                <div class="form-text text-danger"
                    *ngIf="email.errors?.['minlength'] && (email.dirty || email.touched)">
                    *The Minimum length is 2!
                </div>
                <div class="form-text text-danger" *ngIf="email.errors?.['pattern'] && (email.dirty || email.touched)">
                    *Name can only be Letters!
                </div>
                <div class="form-text text-danger" *ngIf="email.errors?.['pattern'] && (email.dirty || email.touched)">
                    *Email can only be Letters!
                </div>
            </div>
            <div class="form-group">
                <label for="">Phone Number</label>
                <h1>{{userDetail.Phone_Number}}</h1>
                <input type="text" placeholder="Phone Number" *ngIf="this.edit_Input" formControlName="phoneNumber">
                <div class="form-text text-danger"
                    *ngIf="phoneNumber.errors?.['required'] && (phoneNumber.dirty || phoneNumber.touched)">
                    *Phone Number is Required or is must!
                </div>
                <div class="form-text text-danger"
                    *ngIf="phoneNumber.errors?.['minlength'] && (phoneNumber.dirty || phoneNumber.touched)">
                    *The Minimum length is 2!
                </div>
                <div class="form-text text-danger"
                    *ngIf="phoneNumber.errors?.['pattern'] && (phoneNumber.dirty || phoneNumber.touched)">
                    *Name can only be Letters!
                </div>
                <div class="form-text text-danger"
                    *ngIf="phoneNumber.errors?.['pattern'] && (phoneNumber.dirty || phoneNumber.touched)">
                    *Phone Number can only be Letters!
                </div>
            </div>
            <div class="form-group">
                <label for="">User Age</label>
                <h1>{{userDetail.Age}}</h1>
                <input type="text" placeholder="User Age" *ngIf="this.edit_Input" formControlName="age">
                <div class="form-text text-danger" *ngIf="age.errors?.['required'] && (age.dirty || age.touched)">
                    *Age name is Required or is must!
                </div>
                <div class="form-text text-danger" *ngIf="age.errors?.['minlength'] && (age.dirty || age.touched)">
                    *The Minimum length is 2!
                </div>
                <div class="form-text text-danger" *ngIf="age.errors?.['pattern'] && (age.dirty || age.touched)">
                    *Name can only be Letters!
                </div>
                <div class="form-text text-danger" *ngIf="age.errors?.['pattern'] && (age.dirty || age.touched)">
                    *Age can only be numbers!
                </div>
            </div>
            <div class="form-group">
                <label for="">User Gender</label>
                <h1>{{userDetail.Gender}}</h1>
                <input type="radio" formControlName="gender" value="Male" *ngIf="this.edit_Input"><p *ngIf="this.edit_Input">Male</p>
                <input type="radio" formControlName="gender" value="Female" *ngIf="this.edit_Input"><p *ngIf="this.edit_Input">Female</p>
                <div class="form-text text-danger" *ngIf="gender.errors?.['required']">
                    *Select gender
                </div>
            </div>
            <div class="form-group">
                <label for="">User Password</label>
                <h1>...</h1>
                <input type="text" placeholder="User Password" *ngIf="this.edit_Input" formControlName="password">
                <div class="form-text text-danger"
                    *ngIf="password.errors?.['required'] && (password.dirty || password.touched)">
                    *Password is Required or is must!
                </div>
                <div class="form-text text-danger"
                    *ngIf="password.errors?.['minlength'] && (password.dirty || password.touched)">
                    *The Minimum length is 2!
                </div>
                <div class="form-text text-danger"
                    *ngIf="password.errors?.['pattern'] && (password.dirty || password.touched)">
                    *Name can only be Letters!
                </div>
                <div class="form-text text-danger"
                    *ngIf="password.errors?.['pattern'] && (password.dirty || password.touched)">
                    *It is not valid!
                </div>
            </div>
            <div class="form-group">
                <label for="">Confirm Password</label>
                <h1>...</h1>
                <input type="text" placeholder="Confirm Password" *ngIf="this.edit_Input" formControlName="ConfirmPassword">
                <div class="form-text text-danger"
                    *ngIf="ConfirmPassword.errors?.['required'] && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                    *Password is Required
                </div>
                <div class="form-text text-danger"
                    *ngIf="ConfirmPassword.errors?.['minlength'] && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                    *The Minimum length is 6
                </div>
                <div class="form-text text-danger"
                    *ngIf="ConfirmPassword.errors?.['maxlength'] && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                    *The maximum length is 15
                </div>
                <div class="form-text text-danger" *ngIf="!passWordValidators()">
                    *It must mutch password field!
                </div>
            </div>

            <!-- this.cancelBtn = true;
    this.edit_Input = false;
    this.saveButton = false; -->
            <div class="form-group">
                <button *ngIf="this.edit_Input && !this.saveButton" (click)="savemethod();updateUserAccount()" >Save</button>
                <button *ngIf="this.edit_Input && !this.cancelBtn" (click)="cancelMethod()">Cancel</button>
                <button (click)="updateInfo()" *ngIf="!this.edit_Input || this.cancelBtn || this.saveButton">Edit</button>
            </div>
        </form>
    </div>

    <div class="right-sidebar" >
        <div class="user-balance">
            <p>Your Name: <label for=""*ngIf="userDetail">{{userDetail.User_Name}}</label></p>
          <p>Your Id: <label for=""*ngIf="userDetail">{{userDetail.Id}}</label></p>
          <p>Your Balance: <label for="" *ngIf="userDetail"> {{userDetail.Balance}} ETB</label></p>
          <button>Cash Out!</button>
        </div>
         </div>

    <div class="right-sidebar" *ngIf="this.rightsidebar">
        <ul>
            <li><a [routerLink]="['/userprofile']">My Orders</a></li>
            <li><a [routerLink]="['/userprofile']">My Wishlist</a></li>
            <li><a [routerLink]="['/userprofile']">My Account</a></li>
            <li><a [routerLink]="['/userprofile']">My Reviews</a></li>
            <li><a [routerLink]="['/userprofile']">My Rewards</a></li>
            <li><a [routerLink]="['/userprofile']">My Notifications</a></li>
            <li><a [routerLink]="['/userprofile']">My Subscriptions</a></li>
            <li><a [routerLink]="['/userprofile']">My Support Tickets</a></li>
            <li><a [routerLink]="['/userprofile']">My Settings</a></li>
            <li><a href="">Personal Information </a></li>
            <li><a href="">Order History</a></li>
            <li><a href="">Sales performance</a></li>
            <li><a href="">Order management</a></li>
            <li><a href="">Analytics</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Store information</a></li>
            <li><a href="">Account settings</a></li>
            <li><a routerLink="['/login']" (click)=" logOut() ">Logout</a></li>
        </ul>
    </div>
</div>