<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="assets/Logos/images.png" alt=""></a>
    </div>
    <div class="navbar-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>

<div class="container">
    <h1>Login</h1>
    <p class="form-text text-danger"> {{this.IncorrectUserOrPassword}}</p>
    <form [formGroup]="loginForm">
      <label for="email">User Name:</label>
      <input type="text" id="username" formControlName = "userName" placeholder="Enter your user name!">

      <div class="form-text text-danger"
      *ngIf="userName.errors?.['required'] && (userName.dirty || userName.touched)">
      *User Name is Required
  </div>
  <div class="form-text text-danger"
      *ngIf="userName.errors?.['minlength'] && (userName.dirty || userName.touched)">
      *The Minimum length is 4
  </div>
  <div class="form-text text-danger"
      *ngIf="userName.errors?.['maxlength'] && (userName.dirty || userName.touched)">
      *The maximum length is 20
  </div>
  <div class="form-text text-danger"
      *ngIf="userName.errors?.['pattern'] && (userName.dirty || userName.touched)">
      *Invalid User Name
  </div>

      <label for="password">Password:</label>
      <input type="password" id="password" formControlName = "password" placeholder="Enter your password!">
      <div class="form-text text-danger" *ngIf="password.errors?.['required'] && (password.dirty || password.touched)">
        *Password is Required
    </div>
    <div class="form-text text-danger" *ngIf="password.errors?.['minlength'] && (password.dirty || password.touched)">
        *The Minimum length is 6
    </div>
    <div class="form-text text-danger" *ngIf="password.errors?.['maxlength'] && (password.dirty || password.touched)">
        *The maximum length is 15
    </div>
      <input type="submit" value="Login" (click)="LoginSubmitted()">
    </form>
    Creare new account<a [routerLink]="['/registration']"> Registration</a>
  </div>
