<nav class="navbar">
  <!-- <h3>EthioEcommerce</h3> -->
  <div class="navbar-logo">
    <a href="#"><img src="assets/Logos/images.png" alt=""></a>
  </div>
  <div class="navbar-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar-links">
    <ul>
      <li>
        <select name="" id="" size="1">
          <option value="">Select a category</option>
          <option value="amazon-devices">Amazon Devices</option>
          <option value="automotive">Automotive</option>
          <option value="baby-products">Baby Products</option>
          <option value="beauty">Beauty</option>
          <option value="books">Books</option>
          <option value="clothing">Clothing, Shoes & Jewelry</option>
          <option value="computers">Computers & Accessories</option>
          <option value="electronics">Electronics</option>
          <option value="grocery">Grocery & Gourmet Food</option>
          <option value="health">Health & Household</option>
          <option value="home-garden">Home & Kitchen</option>
          <option value="movies-music-games">Movies, Music & Games</option>
          <option value="office-products">Office Products</option>
          <option value="pets">Pet Supplies</option>
          <option value="sports-outdoors">Sports & Outdoors</option>
          <option value="tools-home-improvement">Tools & Home Improvement</option>
          <option value="toys-games">Toys & Games</option>
          <option value="video-games">Video Games</option>
          <option value="watches">Watches</option>
          <option value="jewelry">Jewelry</option>
          <option value="music">Music</option>
          <option value="cameras">Cameras & Photography</option>
          <option value="office-furniture">Office Furniture</option>
          <option value="cell-phones">Cell Phones & Accessories</option>
          <option value="fitness">Fitness & Exercise</option>
        </select>
      </li>
      <li>
        <input type="text" placeholder="Search">
      </li>
      <li><a [routerLink]="['/Home']">Home</a></li>
      <li><a href="#">Specifications</a></li>
      <li><a href="#">Contact/Support</a></li>
      <li><a href="#">
          Related-Products</a></li>
      <li><a href="#">Shipping/Returns</a></li>
      <li><a href="#">Reviews</a></li>
      <li><a [routerLink]="['/userprofile']">Account/Profile</a></li>
      <li><a href="">
          <img src="assets/Images/charts.jpg" alt="">
        </a></li>
      <li>1</li>
      <li><a href="#">Cart</a></li>
    </ul>
  </div>
</nav>
<div class="sub-nav">
  <img src="assets/Images/menupng.webp" alt="" (click)="categoryOfProduct()">
  <p>All</p>
  <li><a href="">Today's Deals</a></li>
  <li><a href="">Customer Service</a></li>
  <li><a href="">Registry</a></li>
  <li><a href="">Gift Cards</a></li>
  <li><a [routerLink]="['/seller']">Sell</a></li>
</div>


<div class="container">
  <div class="left-sidebar" *ngIf="this.backicon  || !this.category">
    <div class="sub-images-container">
      <div class="images" *ngFor="let image of product1">
        <img src="assets/Images/{{ image }}" alt="" (mouseenter)="subzoomin = true" (mouseleave)="subzoomin = false">
      </div>
      <p>Video</p>
    </div>
    <div class="big-image" *ngIf="product && !this.subzoomin">
      <img [src]="'assets/Images/' + product.ProdutImage" alt=""(mouseenter)="zoomin = true" (mouseleave)="zoomin = false">
      <p>Roll over image to zoom in</p>
    </div>

    <div class="big-image" *ngIf = "product1 && this.subzoomin">
      <img [src]="'assets/Images/' + product1.ProdutsImage"  alt="" (mouseenter)="zoomin = true" (mouseleave)="zoomin = false">
    </div>
  </div>


  <div class="category" *ngIf="this.category && !this.backicon ">
    <img src="assets/Images/backicon.png" alt="" (click)="remove()">
    <h1>Shop By Department</h1>
    <ul>
      <li><a href="#">Amazon Devices</a></li>
      <li><a href="#">Automotive</a></li>
      <li><a href="#">Baby Products</a></li>
      <li><a href="#">Beauty</a></li>
      <li><a href="#">Books</a></li>
      <li><a href="#">Clothing, Shoes & Jewelry</a></li>
      <li><a href="#">Computers & Accessories</a></li>
      <li><a href="#">Electronics</a></li>
      <li><a href="#">Grocery & Gourmet Food</a></li>
      <li><a href="#">Health & Household</a></li>
      <li><a href="#">Home & Kitchen</a></li>
      <li><a href="#">Movies, Music & Games</a></li>
      <li><a href="#">Office Products</a></li>
      <li><a href="#">Pet Supplies</a></li>
      <li><a href="#">Sports & Outdoors</a></li>
      <li><a href="#">Tools & Home Improvement</a></li>
      <li><a href="#">Toys & Games</a></li>
      <li><a href="#">Video Games</a></li>
      <li><a href="#">Sign In</a></li>
    </ul>

  </div>

  <div class="zoom-in" *ngIf="this.zoomin">
      <img [src]="'assets/Images/' + product.ProdutImage"alt="">
  </div>
  <div class="main-content">

    
    <h4 *ngIf="product">
      {{product.Product_Name}}
    </h4>
    <hr>
    <table class="product-properties">
      <tr>
        <th>Brand</th>
        <td *ngIf="product">{{product.Product_Brand}}</td>
      </tr>
      <tr>
        <th>Product Model</th>
        <td *ngIf="product"> {{product.Product_Model}} </td>
      </tr>
      <tr>
        <!-- Produt_Description -->
        <th>Connectivity Option</th>
        <td *ngIf="product">{{product.Connectivity_Option}} </td>
      </tr>
      <tr>
        <th>Power Requirements</th>
        <td *ngIf="product">{{product.Power_Requirements}} </td>
      </tr>
      <tr>
        <th>Warranty</th>
        <td *ngIf="product">{{product.Warranty}}</td>
      </tr>
      <tr>
        <th>Special Feature</th>
        <td *ngIf="product">
          <label for="">{{product.Screen_Size}}</label>,<br>
          <label for="">{{product.Resolution}}</label>,<br>
          <label for="">{{product.Operating_System}}</label>,<br>
          <label for="">{{product.Battery_Life}}</label>,<br>
          <label for="">{{product.Camera_Specifications}}</label>,<br>
          <label for=""> {{product.Audio_Features}}</label>,<br>
          <label for="">{{product.Processor}}</label>,<br>
          <label for="">{{product.Installed_RAM}}</label>,<br>
          <label for="">{{product.System_Type}}</label>,<br>
          <label for="">{{product.PenAndTouch}},</label>,<br>
          <label for="">{{product.Version}}</label>,<br>
          <label for="">{{product.Installed_On}}</label>,<br>
          <label for="">{{product.OS_build}}</label>,<br>
          <label for="">{{product.Serial_Number}}</label>,<br>
          <label for="">{{product.Exprience}}</label>,<br>
          <label for="">{{product.Memory_Capacity}}</label>,<br>
        </td>
      </tr>
      <tr>
        <th>Dimensions</th>
        <td *ngIf="product">{{product.Dimensions}}</td>
      </tr>
      <tr>
        <th>Compatibility</th>
        <td *ngIf="product">{{product.Compatibility}}</td>
      </tr>
      <tr>
        <th>Availability</th>
        <td *ngIf="product">{{product.Availability}}</td>
      </tr>
      <tr>
        <th>Ratings</th>
        <td *ngIf="product">{{product.Ratings}}</td>
      </tr>
      <tr>
        <th>Energy Efficiency</th>
        <td *ngIf="product">{{product.Energy_Efficiency}}</td>
      </tr>
      <tr>
        <th>User Manual</th>
        <td *ngIf="product">{{product.User_Manual}}</td>
      </tr>
      <tr>
        <th>Produt Quantity</th>
        <td *ngIf="product">{{product.Produt_Quantity}}</td>
      </tr>
      <tr>
        <th>Produt Weight</th>
        <td *ngIf="product">{{product.Produt_Weight}}</td>
      </tr>
    </table>

    <hr>
    <h2>About this item</h2>
      <div class="product-description">
        <p *ngIf="product"> {{product.AboutThisProduct}} </p>
      </div>
  </div>
  <div class="right-sidebar">
    <div class="add-to-cart">
      <h3>Add an Accessory:</h3>
      <h4 *ngIf="product">
        {{product.Product_Name}}
      </h4>
      <p *ngIf="product"> {{product.Produt_Price}} <label for="">Birr</label></p>
      <button>Add to chart</button>
    </div>
  </div>
</div>

<div class="container1">
  <h4>Product description</h4>
  <div class="product-description">
    <p *ngIf="product"> {{product.Produt_Description}} </p>
  </div>
  <h4>Inputs/Outputs</h4>
  <div class="product-description">
    <p *ngIf="product"> {{product.Inputs_Outputs}} </p>
  </div>
  <h4>Accessories</h4>
  <div class="product-description">
    <p *ngIf="product"> {{product.Accessories}} </p>
  </div>

  <!-- <tr>
    <th>Reviews</th>
    <td *ngIf="product">{{product.Reviews}}</td>
  </tr> -->

</div>