.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    color: wheat;
    width: 100%;
    box-shadow: 6px 6px 5px rgb(36, 33, 33);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-bottom: 5px;
}

.navbar .user-icon {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.navbar .user-icon a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar .user-icon .action {
    background-color: rgb(222, 229, 234);
    height: 200px;
    color: wheat;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .user-icon .action a {
    text-decoration: none;
    color: black;
    padding: 15%;
}

.navbar-links {
    display: none;
}

.navbar-links-show {
    display: block;
}

@media (min-width: 768px) {
    .navbar-links {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }
}

.navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.navbar-logo a img {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 5px 6px 6px gray;
    padding: 5px;
    margin-left: 100px;
}

.navbar-toggle {
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
    color: wheat;
}

.navbar-links li a {
    font-size: 16px;
    text-decoration: none;
    color: wheat;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
    }

    .navbar-toggle.active span:nth-child(2) {
        transform: rotate(45deg);
    }

    .navbar-toggle.active span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .navbar-toggle.active span:nth-child(1),
    .navbar-toggle.active span:nth-child(3) {
        margin: 0;
    }

    .navbar-toggle.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 1fr;
    grid-template-areas: "left main";
    margin-top: 90px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.container .left-sidebar {
    grid-area: left;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    position: sticky;
    top: 0%;
    z-index: 90;
    box-shadow: 6px 6px 5px 10px wheat;
}

@media (max-width: 768px) {
    .container .left-sidebar {
       width: 100%;
    }
}

.container .left-sidebar ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.container .left-sidebar ul li a {
    text-decoration: none;
    padding: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    font-style: normal;
    background-color: white;
    color: #2b031b;
    margin: 5%;
    border-radius: 10px;
    border: 0 solid green;
    transition: 1s;
}

@media (max-width: 768px) {
    .container .left-sidebar ul li a {
        padding: 20px;
        font-size: medium;
        font-weight: 300;
        margin: 3%;
        border-radius: 50px;
    }
}

.container .left-sidebar ul li a:hover {
    background-color: aqua;
}

.container .main-content {
    grid-area: main;
    background-color: #f5f5f5 azure;
    margin: 2px;
    border-radius: 12px;
}