

<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="assets/Logos/images.png" alt=""></a>
    </div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
            <span></span>
        <span></span>
        <span></span>
        
    </div>
    
    <!-- <div class="navbar-links" [ngClass]="{'navbar-links-show': isNavbarOpen}">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
        </ul>
        
    </div> -->
    <div class="user-icon"(click)="actionOn()">
        <a [routerLink]="['/seller']"><img src="assets/Logos/Getinet Alemu.jpg" alt=""></a>
        <div class="action"*ngIf="this.action">
         <a [routerLink]="['/login']">Logout</a>
         <a [routerLink]="['/userprofile']">Profile</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="left-sidebar">
         <ul>
            <li><a [routerLink]="" (click)="viewProduct()">View Products</a></li>
            <li><a href="">Upload Products</a></li>
            <li><a href="">Product management</a></li>
            <li><a href="">Payment processing</a></li>
            <li><a href="">Communication</a></li>
            <li><a href="">Reports and analytics</a></li>
            <li><a href="">Feedback and ratings</a></li>
         </ul>
    </div> 
    <div class="main-content">
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>
       <div class="seller-products"*ngIf = " this.viewproduct ">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="product-property">
            <p>Product Id</p>
            <p>Product name</p>
            <p>Product category</p>
            <p>Product Price</p>
        </div>
       </div>

       <div class="upload-product">
          <form action=""*ngIf = " !this.viewproduct ">
            <div class="form-group">
                <label for="">Produt Name:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">Produt Price:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">Produt Description:</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label for="">Produt Brand:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">Produt Dimensions:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">Produt Quantity:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">Produt Weight:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">Produt Category:</label>
                <select name="" id="">
                    <option value="">Electronics</option>
                    <option value="">Electronics</option>
                    <option value="">Electronics</option>
                    <option value="">Electronics</option>
                    <option value="">Electronics</option>
                    <option value="">Electronics</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Produt Key Features:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label for="">Produt Image:</label>
                <input class="my-file" type="file">
            </div>
            <div class="form-group">
                <label for="">Produt's Images:</label>
                <input class="my-file" type="file" id="image-upload" name="images[]" multiple>
            </div>
            <div class="form-group">
                <button>Submit</button>
            </div>
          </form>
       </div>
    </div>
</div>
