.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(227, 216, 216);
    color: rgb(179, 195, 245);
    width: 100%;
    box-shadow: 6px 6px 5px rgb(205, 195, 195);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar .user-icon {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-right: 15px;
}

.navbar .user-icon a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.navbar-links {
    display: none;
}

.navbar-links-show {
    display: block;
}

@media (min-width: 768px) {
    .navbar-links {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }
}

.navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.navbar-logo a img {
    width: 80%;
    height: 60px;
    border-radius: 10px;
    box-shadow: 5px 6px 6px gray;
    padding: 5px;
    margin-left: 100px;
}

.navbar-toggle {
    display: none;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
    color: rgb(40, 8, 250);
}

.navbar-links li a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(40, 8, 250);
}

@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px;
        background-color: #fff;
    }

    .navbar-toggle.active span:nth-child(2) {
        transform: rotate(45deg);
    }

    .navbar-toggle.active span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .navbar-toggle.active span:nth-child(1),
    .navbar-toggle.active span:nth-child(3) {
        margin: 0;
    }

    .navbar-toggle.active span:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 25% 1fr;
    grid-template-areas: "left main";
    margin-top: 90px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.container .left-sidebar {
    grid-area: left;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 6px 6px 5px 10px rgb(212, 209, 203);
}

.container .right-sidebar{
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: auto;
    margin-top: 90px;
    position: absolute;
    top: 0;
    right: 25px;
    z-index: 100;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.container .right-sidebar ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 10px;
}

.container .right-sidebar ul li a {
    text-decoration: none;
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    font-style: normal;
    background-color: white;
    color: #2b031b;
    border-radius: 10px;
    border: 0 solid green;
    transition: 1s;
    cursor: pointer;
}

.container .right-sidebar ul li a:hover{
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container .left-sidebar {
       width: 100%;
    }
}
.container .left-sidebar ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin: 10px;
}

.container .left-sidebar ul li a {
    text-decoration: none;
    padding: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 600;
    font-style: normal;
    background-color: white;
    color: #2b031b;
    border-radius: 10px;
    border: 0 solid green;
    transition: 1s;
    cursor: pointer;
}

.container .left-sidebar ul li a ul li a {
    text-decoration: none;
    padding: 5%;
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: smaller;
    font-weight: 200;
    background-color: white;
    color: #c9559a;
    border-radius: 10px;
    border: 0 solid green;
    transition: 1s;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container .left-sidebar ul li a {
        font-size: medium;
        font-weight: 300;
        border-radius: 50px;
    }
}

.container .left-sidebar ul li a:hover {
    background-color: rgb(143, 155, 155);
    color: white;
    text-decoration: underline;
}

.container .main-content {
    grid-area: main;
    background-color: #f5f5f5 azure;
    margin: 2px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.container .main-content .seller-products{
    width: 250px;
    height: auto;
    margin-left: 20px;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 70px;
    transition: 1s;
    /* opacity: 0.7; */
}

.container .main-content .seller-products:hover{
    transform: scale(1.2);
}
.container .main-content .seller-products img{
    width: 250px;
    height: 300px;
    cursor: pointer;
    border-radius: 12px; 
    transition: 1s;
}
.container .main-content .seller-products img:hover{
    transform: rotate(45deg);
}
.container .main-content .seller-products .product-property{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .main-content .seller-products .product-property p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(3, 26, 9);
}
.container .main-content .upload-product .form-group{
    margin: 35px;
}
.container .main-content form{
    /* background-color: aqua; */
    width: 100vh;
}
@media (max-width: 768px) {
    .container .main-content form {
        width: 100%;
    }
}
.container .main-content .upload-product .form-group a{
    text-decoration: none;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
    color: rgb(234, 94, 234);
}

.container .main-content .upload-product .gender{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
}
.container .main-content .upload-product .gender p{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.container .main-content .upload-product .gender input{
    padding: 3px;
}
.container .main-content .upload-product .form-group label{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:800;
  font-style: normal;
  font-size: larger;
  margin: 12px;
  display: block;
}
.container .main-content .upload-product .form-group input{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 700;
  font-variant: calc(1.2em);
  padding: 15px;
  border-radius: 12px;
  border: none;
  width: 100%;
  border-color: rgb(228, 170, 64);
  transform: 1s;
  background-color: rgb(241, 232, 241);
}
.container .main-content .upload-product .form-group select{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 400;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border-color: violet;
    cursor: pointer;
    transition: 1s;
}
.container .main-content .upload-product h1{
   text-align: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 30px;
   font-weight: bolder;
}
.container .main-content .upload-product .form-group select:hover{
    color: bisque;
}
.container .main-content .upload-product .form-group input:hover{
    border-color: rgb(12, 19, 16);
}
.container .main-content .upload-product .form-group textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-variant: calc(1.2em);
    padding: 15px;
    border-radius: 12px;
    width: 100%;
    border-color: rgb(228, 170, 64);
    transform: 1s;
    border: none;
    background-color: rgb(250, 240, 250);
}
.container .main-content .upload-product .form-group textarea:hover{
    border-color: rgb(19, 29, 26);
}
.container .main-content .upload-product form .form-group .my-file{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #1a0d0d;
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}
.container .main-content .upload-product .form-group button{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 800;
    background-color: #7014ba;
    color: white;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    transition: 1s;
}
/* .container .main-content .upload-product .form-group button:hover{
    background-color: white;
    color: rgb(93, 85, 85);
} */
.container .main-content .manage-product{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.container .main-content .manage-product table{
    width: 100%;
}
.container .main-content .manage-product table th{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 7px;
}
@media (max-width: 768px) {
    .container .main-content .manage-product table th {
        padding: 0px;
    }
}
.container .main-content .manage-product table td{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(232, 225, 225);
    color: rgb(34, 15, 15);
    padding: 5px;
    border-radius: 7px;
}
@media (max-width: 768px) {
    .container .main-content .manage-product table td {
        padding: 1px;
        font-size: 10px;
    }
}
.container .main-content .manage-product table td button{
    padding: 5px;
    font-size: large;
    margin: 5px;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
}
@media (max-width: 768px) {
    .container .main-content .manage-product table td button{
        padding: 1.3px;
        font-size: small;
        margin: 1.2px;
    }
}
.container .main-content .manage-product table td #btn-edit{
    background-color: rgb(16, 6, 81);
}
.container .main-content .manage-product table td #btn-delete{
    background-color: red;
}
.container .main-content .manage-product table td #btn-view{
    background-color: green;
}
.container .main-content .manage-product table td #btn-enable{
    background-color: blue;
}
.text-danger{
    color: red;
}
