<div class="upload-container">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" id="imageInput">
    <label for="imageInput" class="upload-label">Choose Image</label>
    <button class="upload-button" (click)="uploadImage()">Upload</button>
  </div>
  <div *ngIf="imageUrl" class="image-preview">
    <img [src]="imageUrl" alt="Uploaded Image" class="preview-image">
  </div>
  <div class="upload-container">
    <input type="file" (change)="onFileSelected($event)" accept="video/*" id="videoInput">
    <label for="videoInput" class="upload-label">Choose Video</label>
    <button class="upload-button" (click)="uploadVideo()">Upload</button>
  </div>
  <div class="upload-container">
    <input type="file" (change)="onFilePdfSelected($event)" accept=".pdf" id="pdfInput">
    <label for="pdfInput" class="upload-label">Choose PDF</label>
    <button class="upload-button" (click)="uploadPDF()">Upload</button>
  </div>
  
  
  
  
  