<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="assets/Logos/images.png" alt=""></a>
    </div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="navbar-links">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a [routerLink]="['/aboutus']">About Us</a></li>
            <li><a [routerLink]="['/contactus']">Contact Us</a></li>
            <li><a [routerLink]="['/registration']">Sign Up</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Products/Services</a></li>
            <!-- <li><a [routerLink]="['/seller']">Sell</a></li>
            <li><a [routerLink]="['/customer']">Buy</a></li> -->
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Landing Page</h1>
    <h4>Online Shoping</h4>
    <div class="online-shping">
        <div class="cart-image">
            <img src="assets/Images/women.png" alt="">
        </div>
        <div class="just-for-you">
            <img src="assets/Images/justforyou.jfif" alt="">
        </div>
    </div>
    <h1>Promotion Area</h1>
    <h1>{{userId}}</h1>
    <p>
        Online shopping product promotions are designed to captivate and entice
        customers with irresistible deals and offers. These promotions create an
        atmosphere of excitement and anticipation, allowing shoppers to explore a
        vast array of products and take advantage of significant savings.
        From limited-time discounts to exclusive bundle deals, product promotions
        in online shopping provide an opportunity for customers to indulge in their
        favorite items or try out new ones at reduced prices. These promotions not only
        benefit customers by providing them with cost-effective options, but they also
        benefit retailers by increasing brand visibility, attracting new customers,
        and fostering customer loyalty. By leveraging the power of online platforms,
        product promotions make it easier than ever for customers to discover, compare,
        and make informed purchasing decisions. Whether it's the latest gadgets, fashion
        trends, home essentials, or beauty products, online shopping product promotions
        offer an exciting and convenient way to access high-quality products at discounted
        prices, ensuring a win-win situation for both customers and retailers alike.
    </p>
    <h1>Click The Image If You Need To See The Detail!</h1>
    <marquee behavior="" direction="">
        <div class="promotion">
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
            <div class="new-arrival">
                <img src="assets/Logos/Getinet Alemu.jpg" alt="">
                <div class="owner">
                    <h3><a href="">Getinet Alemu</a></h3>
                    <p><a href="">Product type</a></p>
                    <p>Date of relese</p>
                </div>
            </div>
        </div>
    </marquee>
    <h1>All The Products</h1>

    <p>
        Ecommerce products encompass a vast range of items that can be purchased online,
        catering to diverse needs and preferences. From electronics and gadgets to clothing,
        accessories, home appliances, beauty products, and much more, ecommerce platforms offer a
        comprehensive selection of products to fulfill every customer's desires. Whether
        customers are seeking the latest tech innovations, trendy fashion pieces, or everyday
        essentials, ecommerce provides a convenient avenue to browse, compare, and purchase
        products from the comfort of their homes. The availability of a wide variety of ecommerce
        products allows customers to explore different brands, styles, and price ranges,
        enabling them to make well-informed decisions based on their preferences and requirements.
        Ecommerce has revolutionized the retail landscape by offering unparalleled convenience,
        competitive pricing, and a seamless shopping experience. With the rise of online
        marketplaces, customers now have endless options at their fingertips, making ecommerce
        products an integral part of modern-day shopping.
    </p>

    <div class="all-products">
        <div class="products" *ngFor="let product of product2">
            <div><img [src]="'assets/Images/' + product.ProdutImage" alt="" (click)="navigateToProductDetail(product.Id)"></div>
            <div class="owner">
                <p>Product Owner: <label>{{ product.ProductOwner}}</label> </p>
                <p>Product Id: <label>{{ product.Id }}</label> </p>
                <p>Product name: <label>{{ product.Product_Name }}</label> </p>
                <p>Product type: <label>{{ product.Product_Type }}</label></p>
                <p>Product Price: <label>{{ product.Produt_Price }}</label> ETB Birr</p>
            </div>
        </div>
    </div>

</div>