<nav class="navbar">
    <div class="navbar-logo">
        <a href="#"><img src="assets/Logos/images.png" alt=""></a>
    </div>
    <div class="navbar-toggle" (click)="toggleNavbar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="navbar-links" [ngClass]="{'navbar-links-show': isNavbarOpen}">
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="products">
        <div><img src="assets/Logos/Getinet Alemu.jpg" alt=""></div>
        <div class="owner">
            <h3><a href="">Getinet Alemu</a></h3>
            <p><a href="">Product type</a></p>
            <p>Date of relese</p>
        </div>
    </div>
    <div class="products">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="owner">
            <h3><a href="">Getinet Alemu</a></h3>
            <p><a href="">Product type</a></p>
            <p>Date of relese</p>
        </div>
    </div>
    <div class="products">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="owner">
            <h3><a href="">Getinet Alemu</a></h3>
            <p><a href="">Product type</a></p>
            <p>Date of relese</p>
        </div>
    </div>
    <div class="products">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="owner">
            <h3><a href="">Getinet Alemu</a></h3>
            <p><a href="">Product type</a></p>
            <p>Date of relese</p>
        </div>
    </div>
    <div class="products">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="owner">
            <h3><a href="">Getinet Alemu</a></h3>
            <p><a href="">Product type</a></p>
            <p>Date of relese</p>
        </div>
    </div>
    <div class="products">
        <img src="assets/Logos/Getinet Alemu.jpg" alt="">
        <div class="owner">
            <h3><a href="">Getinet Alemu</a></h3>
            <p><a href="">Product type</a></p>
            <p>Date of relese</p>
        </div>
    </div>
</div>